* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
section {
    padding: 3rem;
}
ul {
    padding: 0;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #042940;
    color: #fff;
}
p {
    line-height: 1.4;
    font-size: calc(1rem + .3vw)
}
.btn {
    padding: 10px 20px;
    background-color: #DBF227;
    color: #042940;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.4s ease;
    margin-top: 80px;
    font-weight: 600;
}
.btn:hover {
    background-color: #9FC131;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}
.contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#header {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}
#hero {
    background-color: #D6D58E;
    padding: 2rem 20rem;
    width: 100%;
    color: #042940;
}
.intro {
    font-size: calc(1.5rem + 1vw);
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #042940;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.navbar-menu {
    display: flex;
    gap: 1.3rem;
    list-style: none;
    text-align: center;
}
.navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: border-bottom 0.4s ease-in-out;
}
.navbar-menu li a:hover{
    border-bottom: 2px solid #DBF227;
}
.navbar-toggle {
    border: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    display: none;
}
#hero h1 {
    padding-bottom: 20px;
    font-size: calc(1.6rem + 1vw);
}
#skills p {
    font-size: .8rem;
    text-align: center;
}
.skill-map {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.tag {
    background-color: #005C53;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}
.work-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}
.card {
    background: #DBF227;
    color: #042940;
    padding: 20px;
    border-radius: 10px;

}
.social {
    width: 30px;
    height: auto;
}
.wrapper {
    padding-block: 3rem;
    padding-inline: 8rem;
}
.wrapper h1 {
    margin-bottom: 40px;
    font-size: 4rem;
    line-height: 1;
}
.wrapper p, .wrapper ul li {
    line-height: 1.8;
}
/****************************
Responsive Styles
****************************/
@media (max-width: 1440px) {
    #hero {
        padding: 2rem 10rem;
    }    
}
@media (max-width: 1024px) {
    #hero {
        padding: 2rem 10rem;
    }
}
@media (max-width: 768px) {
    #hero {
        padding: 2rem;
    }
    .contact-wrapper {
        display: flex;
        gap: 1rem;
    }
    .work-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .navbar {
        backdrop-filter: none;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem !important;
        position: fixed;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -400px;
        padding: 5rem 1.5rem;
        background-color: #005C53;
        z-index: 998;
        transition: right 0.4s ease;
    }
    .navbar-menu.active {
        display: flex;
        right: 0;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 997; 
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 480px) {
    .navbar-logo {
        display: none;
    }
    .navbar-container {
        justify-content: flex-end;
    }
}
@media (max-width: 320px) {
    .skill-map {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
