/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */
a:hover {
    text-decoration: underline;
}

body {
    background-color: #1e1e1e;
    color: #fafafa;
    margin: 0;
    padding: 0 30px;
    }

#container {
    display: grid;
    grid-template-columns: minmax(10em, 40em) minmax(10em, 10em);
    grid-template-areas: 
        "content nav";
}

#content {
    grid-area: content;
}

nav {
    grid-area: nav;
}

nav li {
    margin-bottom: 10px;
    text-align: right;
}

body a {
    color: #fafafa;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;    
}

body p {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
