html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --primary-color: #042940;
    --secondary-color: #DBF227;
    --accent-color-1: #9FC131;
    --accent-color-2: #D6D58E;
    --accent-color-3: #005C53;
    --font-heading: 'Grenze', serif;
    --font-stack: 'Ruda', Arial, sans-serif;
}
section:last-of-type {
    padding-top: 0;
}
ul {
    padding: 0;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
#About h1 {
    margin-block: 30px;
}
#About {
    line-height: 1.6;
}
#About ul li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}
body {
    font-family: var(--font-stack);
    background-color: var(--primary-color);
    color: #fff;
}
.intro-container {
    margin-bottom: 30px;
}
.hero-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.btn, .btn-2 {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.4s ease;
    font-weight: 600;
}
.btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
.btn-2 {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid #fff;
}
.btn:hover {
    background-color: var(--accent-color-1);
    scale: 1.05;
    border: 1px solid var(--accent-color-1);
}
.btn-2:hover {
    background-color: #fff;
    scale: 1.05;
    border: 1px solid #fff;
    color: var(--primary-color);
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}
.work-wrapper a {
    width: 100%;
}
.copyright {
    text-align: center;
    font-size: .6rem
}
form {
    width: 50%;
}
#contact-form h1 {
    margin-bottom: 4rem;
}
.contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
fieldset {
    width: 100%;
    border: none;
    padding: 0;
}
footer {
    padding-bottom: 2rem;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2.5em;
  border-radius: 5px;
  border: none;
  padding: .5rem;
}
p {
    line-height: 1.6;
    font-size: clamp(.7rem, .7rem + 0.5vw, 1.1rem);
}
h1, h2, h3, h4 {
    line-height: 1;
}
h1, h2, h3 {
    font-family: var(--font-heading);
}
h4 {
    font-family: var(--font-stack);
}
h1  { 
    font-size: clamp(3rem, 3rem + 3vw, 4rem);
    line-height: 1;
}
h2 {
    font-size: clamp(2rem, 2rem + 2vw, 3rem);
    line-height: 1;
    margin-bottom: 20px;
}
h3 {
    font-size: clamp(1.4rem, 1.4rem + 1.8vw, 2rem);
}
h4 {
    font-size: clamp(1.4rem, 1.4rem + 1.8vw, 2rem);
}
#header {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero {
    position: relative;
    isolation: isolate;
    color: #fff;
}
#hero::after {
    content: '';
    position: absolute;
    background-color: var(--accent-color-3);
    inset: 0;
    transform: skewY(-3deg);
    z-index: -1;
}
.navbar {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    top: 0;
    z-index: 999;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    height: 60px;
    padding: 0 2rem;
}
.navbar-logo {
    font-family: 'Grenze';
    font-weight: 400;
    font-size: 1.9rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: scale .3s ease-in-out;
}
.navbar-logo:hover {
    scale: 1.05;
}
.navbar-menu {
    display: flex;
    height: 100%;
    list-style: none;
    text-align: center;
    align-items: center;
}
.navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: clamp(.8rem, 1rem + 1vw, 1rem);
    white-space: nowrap;
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out;
    padding: 1rem;
}
.navbar-menu li a:hover{
    border-bottom: 2px solid var(--secondary-color);
}
.navbar-toggle {
    display: none;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#skills {
    padding: 0;
    position: relative;
    background-color: var(--accent-color-2);
    color: var(--primary-color);
}
#skills::before,
#skills::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    -webkit-mask-image: url('assets/triangle.svg');
}
#skills:after {
    background-color: #D6D58E;
}
.skills-text {
    margin-bottom: 2rem;
}
.skill-map {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tag {
    background-color: var(--accent-color-3);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}
.work-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
#wrapper {
    max-width: 1600px;
    margin: auto;
    padding-inline: clamp(2rem, 1rem + 9vw, 7rem);
    padding-block: clamp(6rem, 1rem + 9vw, 10rem);
}
.card {
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    transition: all .3s ease-in-out;
}
.card:hover {
    scale: 1.05;
    background-color: var(--accent-color-1)
}
.social {
    width: 30px;
    height: auto;
}
.wrapper h1 {
    margin-bottom: 40px;
    font-size: 4rem;
    line-height: 1;
}
.wrapper p, .wrapper ul li {
    line-height: 1.8;
}
input[type="submit"] {
    background-color: var(--secondary-color);
    font-family: var(--font-stack);
    font-weight: 800;
    font-size: .8rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: var(--accent-color-1);
    scale: 1.01;
}
/****************************
Responsive Styles
****************************/
@media (max-width: 1440px) {
        
}
@media (max-width: 1024px) {
    
}
@media (max-width: 768px) {
    .intro-container {
        margin-bottom: 80px;
    }
    .contact-wrapper {
        display: flex;
        gap: 1rem;
    }
    form {
        width: 100%;
    }
    .work-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    fieldset {
        width: 100%;
    }
    .navbar {
        backdrop-filter: none;
    }
    .navbar-menu {
        position: fixed;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        height: 100vh;
        width: 250px;
        right: -250px;
        transition: right .4s ease;
        padding: 5rem 0;
        background-color: var(--accent-color-3);
        z-index: 998;
    }
    .navbar-menu.active {
        display: flex;
        right: 0;
    }
    .navbar-menu li {
        width: 100%;
    }
    .navbar-menu li a {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        transition: background-color .4s ease;
    }
    .navbar-menu li a:hover {
        border: none;
        background-color: var(--primary-color);
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 997; 
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 480px) {
    .navbar-logo {
        display: flex;
    }
    .navbar-container {
        justify-content: space-between;
    }
    .hero-buttons {
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width: 320px) {
    .skill-map {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
