* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #010D26;
    color: #fff;
}
.btn {
    padding: 10px 20px;
    background-color: #1335F2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #fff;
    color: #1335F2
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero {
    text-align: center;
    background-color: red;
    padding: 2rem;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background: #1335F2;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.navbar-container .navbar-menu {
    display: flex;
    gap: 1.3rem;
    list-style: none;
    text-align: center;
}
.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.5s ease;
}
.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a:active {
    color: #fff;
    background: #010D26;
    box-shadow: 0 0 5px #010D26, 0 0 10px #010D26, 0 0 15px #010D26;
}
.navbar-toggle {
    border: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    }
.skill-map {
    display: flex;
    gap: 1rem;
}
.tag {
    background-color: #3876F2;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-right: 5px;
}
.work-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}
.card {
    background: #1335F2;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
/****************************
Responsive Styles
****************************/

@media (max-width: 768px) {
    .contact-wrapper {
        display: flex;
        gap: 1rem;
    }
    .navbar {
        backdrop-filter: none;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem !important;
        position: fixed;
        height: 60vh;
        width: 250px;
        top: 0;
        right: -250px;
        padding: 5rem 1.5rem;
        background: linear-gradient(180deg, #1335F2, #010D26);
        z-index: 998;
        transition: right 0.3s ease;
    }
    .navbar-menu.active {
        display: flex;
        right: 0;
    }
    .navbar-container .navbar-menu li a {
        font-size: 1.4rem;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5); /* dim background */
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 997; /* sits below sidebar */
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 480px) {
    .navbar-container {
        padding: 0 1rem;
    }
    .navbar-logo {
        font-size: 1.7rem;
    }
    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}