* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --primary-color: #042940;
    --secondary-color: #DBF227;
    --accent-color-1: #9FC131;
    --accent-color-2: #D6D58E;
    --accent-color-3: #005C53;
    --font-stack: 'Roboto Flex', Arial, sans-serif;
}
section {
    padding: 3rem;
}
ul {
    padding: 0;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
body {
    font-family: var(--font-stack);
    background-color: var(--primary-color);
    color: #fff;
}
p {
    line-height: 1.4;
    font-size: calc(1rem + .3vw)
}
.btn {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #042940;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.4s ease;
    margin-top: 80px;
    font-weight: 600;
}
.btn:hover {
    background-color: var(--accent-color-1);
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}
#bulb {
    width: 50%;
    height: 100%;
    border: solid 2px blue;
}
form {
    width: 50%;
}
#contact-form {
    display: flex;
    flex-direction: row;
}
.contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
fieldset {
    width: 100%;
    border: none;
    padding: 0;
}
footer {
    padding-bottom: 2rem;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2.5em;
  border-radius: 5px;
  border: none;
  padding: .5rem;
}
#header {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}
#hero {
    background-color: var(--accent-color-2);
    padding: 2rem 20rem;
    width: 100%;
    color: var(--primary-color);
}
.intro {
    font-size: calc(1.5rem + 1vw);
}
.navbar {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 999;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    padding: 0 2rem;
}
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.navbar-menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    text-align: center;
}
.navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    white-space: nowrap;
    cursor: pointer;
    transition: border-bottom 0.3s ease-in-out;
}
.navbar-menu li a:hover{
    border-bottom: 2px solid var(--secondary-color);
}
.navbar-toggle {
    display: none;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#hero h1 {
    padding-bottom: 20px;
    font-size: calc(1.6rem + 1vw);
}
#skills p {
    font-size: .8rem;
    text-align: center;
}
.skill-map {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.tag {
    background-color: var(--accent-color-3);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}
.work-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
.card {
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
}
.social {
    width: 30px;
    height: auto;
}
.wrapper {
    padding-block: 3rem;
    padding-inline: 8rem;
}
.wrapper h1 {
    margin-bottom: 40px;
    font-size: 4rem;
    line-height: 1;
}
.wrapper p, .wrapper ul li {
    line-height: 1.8;
}
/****************************
Responsive Styles
****************************/
@media (max-width: 1440px) {
    #hero {
        padding: 2rem 10rem;
    }    
}
@media (max-width: 1024px) {
    #hero {
        padding: 2rem 10rem;
    }
}
@media (max-width: 768px) {
    #hero {
        padding: 2rem;
    }
    .contact-wrapper {
        display: flex;
        gap: 1rem;
    }
    .work-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    #contact {
        align-items: center;
        justify-content: center;
    }
    #contact-form {
        display: flex;
    }
    fieldset {
        width: 100%;
    }
    input,
    textarea,
    select {
        margin: 10px 0 0 0;
        width: 100%;
        min-height: 2.5em;
        border-radius: 5px;
        border: none;
        padding: .5rem;
    }
    section {
        padding: 2rem;
    }
    .navbar {
        backdrop-filter: none;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem !important;
        position: fixed;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -400px;
        padding: 5rem 1.5rem;
        background-color: var(--accent-color-3);
        z-index: 998;
        transition: right 0.4s ease;
    }
    .navbar-menu.active {
        display: flex;
        right: 0;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 997; 
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 480px) {
    .navbar-logo {
        display: none;
    }
    .navbar-container {
        justify-content: flex-end;
    }
}
@media (max-width: 320px) {
    .skill-map {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
