/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************
 Structure 
******************/
#container {
    display: flex;
}
.project-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0 1em;
}
.p1, .p2, .p3 {
    background-color: gray;
    border-radius: 5px;
    padding: 10px 20px;
    height: auto;
    }
.contact-wrapper {
    display: flex;
    gap: 10px 
}
.skill-map {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1em;
}
body {
    background-color: #1e1e1e;
    color: #fafafa;
    margin: 0;
}
.intro {
    height: 60vh;
}
.intro h1 {
    font-size: 2.5em;
    margin: 0;
}
.intro p {
    font-size: 1.2em;
    margin: 1em 0 0 0;
}
nav {
    border-bottom: 2px solid #0f0f0f;
    position: sticky;
    top: 0;
    background-color: #1e1e1e;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav .logo {
    margin-right: auto
}
nav a {
    display: flex;
    text-decoration: none;
    padding: 1em 2em;
}
nav a:hover {
    background-color: #0f0f0f;
}
.open-sidebar {
    display: none;
    background: none;
    border: none;
    padding: 1em 5em;
    margin-left: auto;
    cursor: pointer;
}
.close-sidebar {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*********************
MEDIA QUERIES
**********************/
@media screen and (max-width: 2560px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
    #container {
        flex-direction: column;
        align-items: center;
        padding: 0 2em;
    }
    .project-wrapper {
        flex-direction: row;
        gap: 1em;
    }
}
@media screen and (max-width: 768px) {
    .project-wrapper {
        flex-direction: column;
        gap: 1em;
    }
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        background-color: #1e1e1e;
        transition: right 300ms ease-in-out;
    }
    nav.show {
        right: 0;
    }
    nav.show ~ #overlay {
        display: block;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav a {
        width: 100%;
    }
    nav .logo {
        margin-right: unset;
    }
    .open-sidebar, .close-sidebar {
        display: block;
    }
    .open-sidebar {
        position: sticky;
        top: 0;
        background-color: teal;
        padding: 1em;
    }
}
@media screen and (max-width: 426px) {
} 
@media screen and (max-width: 320px) {
}
/******************
 Styles 
 ******************/
.skill-map {
    flex-direction: column;
    align-items: start;
}
.tag {
    background-color: teal;
    padding: 6px;
    border-radius: 3px;
}
/*****************
 Navigation 
 *****************/

/* Text-Decoration */
body a {
    color: #fafafa;
    text-decoration: none;
    cursor: pointer;
}
/* FONTS */
h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body p, body a, li {
    font-family: 'Courier New', Courier, monospace;
}

