/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Structure */

#container {
    display: grid;
    grid-template-columns: minmax(10em, auto) minmax(10em, auto);
    grid-template-areas: 
        "content nav";
}

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0 2em;
}

.p1, .p2, .p3 {
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
}

.contact-wrapper {
    display: flex;
    gap: 10px 
}

.skill-map {
    display: flex;
    justify-content: space-evenly;
}

body {
    background-color: #1e1e1e;
    color: #fafafa;
    margin: 0;
    padding: 0 5em;
    }

#content {
    grid-area: content;
}

/* Navigation */

nav {
    grid-area: nav;
}

nav li {
    margin-bottom: 10px;
    text-align: right;
}

ul {
    padding: 0;
}

/* Text-Decoration */
a:hover {
    text-decoration: underline;
}

body a {
    color: #fafafa;
    text-decoration: none;
    cursor: pointer;
}

/* FONTS */
h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body p, body a {
    font-family: 'Courier New', Courier, monospace;
}

